*, *::before, *::after {

    box-sizing: border-box;
  
  }
  
  * {
  
    margin: 0;
  
  }
  
  body {

    font-family: 'Comic Sans MS', sans-serif;
    line-height: 1.5;
  
    -webkit-font-smoothing: antialiased;
  
  }
  ul, ol{
    list-style: none;
  }
  
  img, picture, video, canvas, svg {
  
    display: block;
  
    max-width: 100%;
  
  }
  
  input, button, textarea, select {
  
    font: inherit;
  
  }
  
  p, h1, h2, h3, h4, h5, h6 {
  
    overflow-wrap: break-word;
  
  }
  
  #root, #__next {
  
    isolation: isolate;
  
  }
  .container{
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  .game-container{
    display: grid;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    grid: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    border: solid 1px hsl(0, 0%, 0%);
    background-color: blueviolet;
  }
  .game-box{
    border: solid 2px hsl(0, 0%, 0%);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    background-color: aquamarine;
    z-index: 1;
  }